/*------------------------
   RESEST 
------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: "Robot", sans-serif;
}

header{
    background-color: #ffffff;
    padding: 15px  20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 900px;
    font-size: 40px;
}

.logo{
    vertical-align: middle;

}

main{
    background-color: #ffffff;
    width: 800px;
    margin: 50px auto;
    border-radius: 10px;
}

.tag{
    display: inline-block;
    background: rgb(0, 170, 255);
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
}
.tag2{
    display: inline-block;
    background: #ffffff;
    color: gray;
    border-style: solid;
    padding: 2px 1px;
    border-radius: 10px;

}

.tag3{
    display: inline-block;
    background: #ffffff;
    font-size: 20px;
    padding: 6px 10px;
    border-radius: 10px;
}

.tag4{
    display: inline-block;
    background: rgb(0, 170, 255);
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;

}
.tag5{
    display: inline-block;
    background: purple;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;

}
.tag6{
    display: inline-block;
    background: green;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
}
.tag7{
    display: inline-block;
    background: orangered;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
}
.tag8{
    display: inline-block;
    background: plum;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
}
.tag9{
    display: inline-block;
    background: greenyellow;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
}
h2{
    background-color: #ffffff;
    width: 800px;
    margin: 30px auto;
    border-radius: 10px;
}

.circle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 10px auto;
    text-align: center;
    line-height: 20px;
    
}
h3{
    display: inline-block;
    vertical-align: middle;
    font-weight: 20px;
    font-size: 15px;

}

